body{
    font-family: Arial, sans-serif;
    background-color: #1A1A1A;
    background-image: 
        radial-gradient(at 0% 0%, rgba(97, 23, 206, 0.15) 0px, transparent 50%), 
        radial-gradient(at 100% 100%, rgba(97, 23, 206, 0.1) 0px, transparent 50%);
    margin: 0;
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.barranav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    border: 1px solid #2a2a2a;
    box-shadow: #2a2a2a;
}
.logo{
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    background-color: #6117CE;
    color:#E0E0E0;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(97, 23, 206, 0.5);    
}
.opciones{
    display: flex;
    background-color: none;
    border-radius: 30px;
    overflow: hidden;
}
.boton1,.boton2,.boton3,.boton4,.boton5{
    text-decoration: none;
    font-family: "monserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E0E0E0;
    font-size: 18px;
    padding: 20px 50px;
    transition: background-color  0.3s ease;
}
.opciones a{
    border-right: 1px solid #333333;
    padding: 20px 50px;
}
.opciones a:last-child {
    border-right: none; /* Quita la Ãºltima lÃ­nea */
}
.boton1:hover,.boton2:hover,.boton3:hover,.boton4:hover,.boton5:hover{
    background-color:#303030;
    cursor: pointer;
}
.textoprin{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}
.textos{flex: 1;}
.texto1{
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-size: normal;
    font-size: 50px;
    color: #6117CE;
    text-shadow: 0 0 15px rgba(97, 23, 206, 0.5);
}
.texto2{
    font-family: "Monserrat",sans-serif;
    font-size: 30px;
    color: #6117CE;
}
.textoprin2{
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.texto3{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 18px;
    max-width: 450px;
    margin-bottom: 25px;
}
.acceder{
    font-family: sans-serif;
    font-weight: bold;
    background-color: #6117CE;
    color: #E0E0E0;
    box-shadow: 0 0 15px rgba(97, 23, 206, 0.5); 
    padding: 15px 40px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s;
}
.acceder:hover{
    background-color: #E0E0E0;
    color: #6117CE;
}
.textosec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.imagenprin{
    width: 300px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(97, 23, 206, 0.3);
}
.columna-texto{
    flex: 1;
    text-align: right;
}
.texto4{
    font-family: "Monserrat",sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    color: #6117CE;
    margin-bottom: 10px;
    text-shadow: 0 0 15px rgba(97, 23, 206, 0.5);
}
.texto5 li {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    list-style-type: none; 
    color: white;
    font-size: 16px;
    margin-bottom: 9px;   
    text-align: right;     
    display: block;        
}
.pie-pag {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 50px;
    margin-top: auto;
}
.text-cont {
    font-style: italic;
    font-size: 30px;
    text-shadow: 0 0 15px rgba(97, 23, 206, 0.5);
    color: #6117ce;
    font-weight: bold;
}
.redes {
    display: flex;
    gap: 15px;
}
.redes img {
    width: 35px;
    height: auto;
    opacity: 0.7;
}